@charset "utf-8";
/* CSS Document */

@font-face

{
font-family: flat;
src: url('../font/flat.ttf');
     
}

body{rgba(248, 248, 248, 0.82)}

fieldset.scheduler-border {
    border: 1px groove rgba(255, 255, 255, 0.44) !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
	width:inherit; 
    padding:0 10px; 
    border-bottom:none;
	color: rgb(219, 183, 183);
	}
	
.footer { background-color:rgb(60, 60, 112);-webkit-box-shadow: 0px -2px 3px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px -2px 3px rgba(50, 50, 50, 0.75);
box-shadow:         0px -2px 3px rgba(50, 50, 50, 0.75);

 color:rgb(228, 195, 195); } 	

.social{font-size:30px; color:pink;}

.loginbox{background-color:rgb(60, 60, 112); margin-bottom:150px; margin-top:80px;}

.footcontent {padding:20px 0 5px 0px;}

.logo{padding-top: 100px;}

.nex_content_area {height:450px;}

.nonex_logo {padding:10px;}

.user_profile {padding:6px;}
.nex_row  {padding:35px;}
.btn-success{font-family:flat; color: rgb(220, 245, 220);}

.forget a{font-family:flat; font-size:17px; text-decoration:none;}

.singindec {float: left;
width: 10px;
height: 37px;
background-color:#47a447;
position: absolute;
left: 0px;
top:5px;
}

.loginn{ border:none;}

.h a{ background-color:#428bca; font-size:22px; font-family:flat; color:white; border:none;}

.h a:hover{background-color:#5D99CC; }

.s a{ background-color:#F2B33D; font-size:22px; font-family:flat; color:white;}

.s a:hover{background-color:#F3BC56; }

.se a{ background-color:#D94D3F; font-size:22px; font-family:flat; color:white;}

.se a:hover{background-color:#DB6357; }

.l a{ background-color: #028331; font-size:22px; font-family:flat; color:white;}

.l a:hover{background-color:#16883F; }

.o a{ background-color:#74A7BD; font-size:22px; font-family:flat; color:white; border:none;}

.o a:hover{background-color:#8BAEBD; }

.loginbox_device{
padding-left: 20px;
padding-right: 20px;
}

.left_menu a
{

color: #FFFFFF;
background-color: #093344;
-webkit-box-shadow: #323232 0 1px 0;
-moz-box-shadow: #323232 0 1px 0;
box-shadow: #323232 0 1px 0;
font-family:flat;
}

.left_menu a:hover
{

color: #FFFFFF;
background-color: #2E5768;
}

.list-group-item i{font-size:30px; float:right; line-height:0.5}


@media screen and (max-width: 767px) {
	
	.sidebar-offcanvas p{visibility:hidden;}
	
	
	}




